* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
}

::selection{
    background-color: #73C2CC;
    color: #f4effe;
}

.featured-section {
    padding: 20px;
    margin: 70px auto 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.profile-section {
    max-width: 100%;
    padding: 20px;
    margin: 70px auto 0;
    display: flex;
    align-items: center;
}


.navbar{
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed; 
    top: 0; 
    left: 0;
}

.forButtons{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.forLogo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 30px;
}

.forLogo p {
    color:#73C2CC;
    font-size: 18px;
    
}

.dalogo:hover + .para{
    margin-left: 20px;
    transition: margin-left 0.3s ease-in-out;
}

.dalogo{
    height: 60px;
    width: auto;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.dalogo:hover{
    transform: scale(1.3);
    transition: margin-left 0.3s ease-in-out;
}

  .nav-button {
    background-color: #f4f4f9;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #73C2CC;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.nav-button:last-child{
    margin-right: 30px;
}

.nav-button:hover {
    background-color:#73C2CC;
    color: #f4f4f9;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .divider{
    border: none;
    border-radius: 3px;
    height: 3px;
    width: 85%;
    background-color: #73C2CC;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .writings{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .aboutME{
    color: #73C2CC;
    padding-left: 30px;
  }

  .itsMe{
    width: auto;
    height: 350px;
    border: none;
    border-radius: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin: 35px;
    transition: all 0.3s ease-in-out ;
  }

  .itsMe:hover{
    transform: scale(1.1);
  }

  .description{
    text-align: justify;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 53px;
    color: #5C5C5C;
  }

  .schoolPics{
    height: 235px;
    width: auto;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }

  .schoolPics:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

  .education{
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    flex-direction: row;
  }

  .school{
    flex-direction: column;
    background-color: #f4effe;
    color: #73C2CC;
    justify-content: center;
    max-width: 353px;
    display: flex;
    margin: 35px;
  }

  .contain{
    padding-top: 25px;
    text-align: justify;
    color: #5C5C5C;
  } 

  .hobbies{
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    flex-direction: row;
  }

  .hobby{
    flex-direction: column;
    background-color: #f4effe;
    color: #73C2CC;
    justify-content: center;
    max-width: 353px;
    display: flex;
    margin: 35px;
  }

  .imageCollage1{
    height: 300px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow-y: auto;   
  }
  
  .datop{
    display: flex;
    flex-direction: row;
  }

  .dabot{
    display: flex;
    flex-direction: row;
  }

  .cover{
    height: 150px;
    max-width: 150px;
    margin: none;
    padding: none;
  }

  .dandadan{
    height: 300px;
    width: auto;
  }

  .addition{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: #73c2cc;
}

.gamePics{
    width: 100%; 
    display: block;
}

.firstPart{
    margin-right: 85px;
}

.secondPart{
    margin-left: 85px;
}