* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
}

::selection{
    background-color: #73C2CC;
    color: #f4effe;
}

.profile-section {
    max-width: 100%;
    padding: 20px;
    margin: 70px auto 0;
    display: flex;
    align-items: center;
}


.navbar{
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed; 
    top: 0; 
    left: 0;
}

.forButtons{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.forLogo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 30px;
}

.forLogo p {
    color:#73C2CC;
    font-size: 18px;
    
}


.dalogo:hover + .para{
    margin-left: 20px;
    transition: margin-left 0.3s ease-in-out;
}

.dalogo{
    height: 60px;
    width: auto;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.dalogo:hover{
    transform: scale(1.3);
    transition: margin-left 0.3s ease-in-out;
}
  
.nav-button {
    background-color: #f4f4f9;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #73C2CC;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 1500;
}

.nav-button:last-child{
    margin-right: 30px;
}

.nav-button:hover {
    background-color:#73C2CC;
    color: #f4f4f9;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0s.2);
  }

.sabang{
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: auto;
    height: 530px;
    margin-left: 53px;
    margin-top: 35px;
}

.profile-section{
    color: #f4effe;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-section p{
    font-size: 18px;
    margin-top: 10px;
}

.upperPart{
    width: 100%;
    height: 630px;
    background-image: url('CCMS.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.profile-text{
    padding: 50px;
    text-align: center;
    z-index: 500;
    color: #f4effe;
    position: relative;
}



.upperPart::before {
    content: ''; /* Creates an overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  }

.line{
    margin: 20px;
    background-color: #73C2CC;
    width: 80%;
    height: 3px;
    border: none;
    border-radius: 5px;
}

.me{
    border: none;
    border-radius: 100%;
    width: auto;
    height: 300px;
    margin-left: 85px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.smallIntro{
    display: flex;
    color: #5C5C5C;
    text-decoration: none;
    text-shadow: none;
}

.smallIntro p {
    padding: 53px;
    margin: 53px;
    text-align: justify;
}

.motto{
    text-align: center;
    font-style: italic;
    color: #5C5C5C;
    text-shadow: none;
}

.knowMore{
    background-color: #73C2CC;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #f4f4f9;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.knowMore:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0s.2);
}

.addition{
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: #73c2cc;
}

.firstPart{
    margin-right: 85px;
}

.secondPart{
    margin-left: 85px;
}

